.clock {
    font-family: $body-font;
            color: $dark;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
}


.countdown-container {
    text-align: center;
    margin-top: 15px;
}

.timer {
    display: flex;
    gap: 0px;
    font-size: 2.5rem;
    font-weight: bold;
    @include respond-below(md) {
        gap: 4px;
    }
}

.time-box {
    background-color: #ffffff;
    padding: 0px 15px;
    border-right: solid 1px black;
    min-width: 80px;
    
    @include respond-below(md) {
        min-width:65px;
        padding: 10px 20px;
    }
}
.time-box:last-child {
       border-right: solid 0px black; 
    }
.label {
    display: block;
    font-size: 14px;
    color: $dark;
    text-transform: uppercase;
    margin-top: 0px;
    @include respond-below(md) {
        font-size: 12px;
    }
}

#message {
    font-size: 2rem;
    color: #ff4757;
    display: none;
}