{layout="_layouts/_page_wrapper"} 
<header class="header container-fluid position-relative mx-auto ">
       {!--} <picture>
            <source media="(max-width:576px)" srcset="{layout:smartphone_header_image}">
            <source media="(max-width:768px)" srcset="{layout:tablet_header_image}">
            <source media="(max-width:992px)" srcset="{layout:tablet_header_image}">
            <img src="{layout:desktop_header_image}" alt="Flowers" class="w-100 h-100 object-fit-cover position-absolute">
        </picture>{!--}
        <div class="container-fluid">
            <div class="row">
                    <div class="col-11 col-md-9 col-lg-8 mx-auto text-center">
                        <h1 class="text-center text-white">{layout:main_head}</h1>
                    </div>
            </div>
        </div>
        {par_drop_menu}
</header>

{layout:contents}