<!doctype html>
<html lang="en">
  <head>
    {par_google}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {embed="_embeds/_seo_meta" entry_id="{layout:entry_id}"}
    <link href="{site_url}assets/css/styles.min.css?v-2" rel="stylesheet" crossorigin="anonymous">
   
  </head>
  <body class="bg-light">
    {par_navbar_w_search}
    {layout:contents}
    

    {embed="_embeds/_consents"}
        <link href="{site_url}assets/vendors/aos-2/dist/aos.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="{site_url}assets/vendors/aos-2/dist/aos.js"></script>
    <script src="{site_url}assets/js/main.js"></script>

  </body>
</html>