{layout="_layouts/_page_wrapper"} 
<header class="container-fluid position-relative max_page_width mx-auto" style="padding-top:160px">
      
        <div class="container h-100 blog-header-radius border border-dark p-0 shadow">
            <div class="row g-0 h-100 align-items-center">
                <div class="col-md-6 h-100">
                    {if layout:feature_image !=""} 
                        <img src="{layout:feature_image}" class="card-img-top h-100 object-fit-cover" alt="...">
                    {if:else} 
                        <img src="{site_url}assets/images/blog_headers/AkronMarathonRaceSeries.png" class="card-img-top h-100 object-fit-cover" alt="Akron Marathon News">
                    {/if}
                </div>
                    <div class="col-md-6 p-3 p-lg-5 mx-auto">
                        <h1 class="blog-head">{layout:main_head}</h1>
                    </div>
            </div>
        </div>
</header>

<div class="p-3 p-lg-5 pt-3">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-9 col-xl-8">
                <div class="mb-2 border-1 border-top-0 border-start-0 border-end-0 border-dark">
                    {layout:post_date} | {layout:author} | {layout:cats}
                </div>
                {layout:pagecontents}
            </div>
            <div class="col-lg-3 col-xl-4 rounded">
                {layout:next-5}
            </div>
        </div>
    </div>

{layout:contents} 

</div>

<div class="container py-5 my-5">
    <div class="row">
        <div class="col-6">
            {exp:channel:next_entry channel="news"}
    <a href="{site_url}news-media/{url_title}/" aria_lable="{title}" class="text-decoration-none text-dark float-end"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
</svg></a>
{/exp:channel:next_entry}
            
        </div>
        <div class="col-6 fs-5">
{exp:channel:prev_entry channel="news"}
    <a href="{site_url}news-media/{url_title}/" aria_lable="{title}" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
</svg></a>
{/exp:channel:prev_entry}
        </div>
    </div>
</div>