{exp:channel:entries channel="global_content" dynamic="no"  limit="1" disable="categories|member_data|pagination|relationships" cache="yes" refresh="60" cache_prefix="global"} 


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 col-xl-9 mx-auto">

    {giving_status_bar_copy}
           
            <div class="w-100 progress rounded-pill bg-secondary position-relative" style="min-height:36px">
                <div class="bg-primary progress-bar progress-bar-striped progress-bar-animated rounded-start-pill align-items-center position-absolute text-white text-center"  style="height:36px;width:{exp:mx_calc expression="round({current_giving}/2500000*100)"}%;">
                    <strong>{exp:mx_calc expression="round({current_giving}/2500000*100)"}%</strong>
                </div>
            </div>
            <div class="fs-3 headline-font text-center my-3">
                {current_giving:currency}
            </div>
        </div>
    </div>
</div>
{/exp:channel:entries}