{layout="_layouts/_page_wrapper"} 
<header class="container-fluid position-relative max_page_width p-0 mb-5 mx-auto" style="max-height:400px !important">
        <picture>
            <source media="(max-width:576px)" srcset="{layout:smartphone_header_image}">
            <source media="(max-width:768px)" srcset="{layout:tablet_header_image}">
            <source media="(max-width:992px)" srcset="{layout:tablet_header_image}">
            <img src="{layout:desktop_header_image}" alt="Flowers" class="position-absolute w-100 h-100 object-fit-cover overflow-hidden">
        </picture>
        <div class="container-fluid position-absolute h-100 top-0">
            <div class="row h-100 align-items-center">
                    <div class="col-11 col-md-9 col-lg-8 mx-auto py-5 text-center">
                        <h1 class="text-center display-5 text-white">{layout:main_head}</h1>
                    </div>
            </div>
        </div>
</header>

{layout:contents}